﻿<div class="container" ng-controller="ReigsterCtrl" >
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Rejestracja</h3>
                </div>
                <div class="panel-body">
                    <form name="registerForm" role="form" ng-submit="registerFormButton(user)">

                                <input name="inputNameName" type="text" id="inputName" class="form-control" placeholder="Imie" required=""  ng-model="user.FirstName" ng-maxlength="50" ng-focus="registerForm.inputNameName.$setUntouched()" ng-pattern="/^[a-zA-Z0-9]*$/"/>
                                <div class="errorMessage" ng-messages="registerForm.inputNameName.$error" ng-if="registerForm.inputNameName.$touched"   >
                                    <div ng-message="required">Imie jest wymagane.</div>
                                    <div ng-message="pattern">Imie jest błędne.</div>
                                    <div ng-message="maxlength">Twoje imię jest za długie.</div>
                                </div>

                                <input name="inputSurnameName" type="text" id="inputSurname" class="form-control" placeholder="Nazwisko" required=""  ng-model="user.LastName" ng-maxlength="50" ng-focus="registerForm.inputSurnameName.$setUntouched()" ng-pattern="/^[a-zA-Z0-9]*$/"/>
                                <div class="errorMessage" ng-messages="registerForm.inputSurnameName.$error" ng-if="registerForm.inputSurnameName.$touched" >
                                    <div ng-message="required">Nazwisko jest wymagane.</div>
                                    <div ng-message="pattern">Nazwisko jest błędne.</div>
                                    <div ng-message="maxlength">Twoje nazwisko jest za długie.</div>
                                </div>

                                <div ng-hide="loadingSection">
                                    <select class="form-control" disabled>
                                        <option value="" disabled="" selected="">Loading...</option>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div ng-show="loadingSection">
                                    <select name="inputSectionName" id="inputSection" ng-model="user.Section" class="form-control" ng-options="section.Id as section.CityName for section in sections" onchange="this.style.setProperty('color', 'black', 'important');">
                                        <option value="" disabled selected hidden ng-bind="sections.length ? 'Wybierz oddział...' : 'Brak oddziałów'"></option>
                                    </select>
                                    
                                </div>
                        

                                <input name="inputEmailName" type="email" id="inputEmail" class="form-control" placeholder="Adres e-mail" required=""  ng-model="user.Email" ng-maxlength="255" ng-focus="registerForm.inputEmailName.$setUntouched()" />
                                <div class="errorMessage" ng-messages="registerForm.inputEmailName.$error" ng-if="registerForm.inputEmailName.$touched">
                                    <div ng-message="required">Adres e-mail jest wymagany.</div>
                                    <div ng-message="email">Twój adres e-mail nie jest poprawny.</div>
                                    <div ng-message="maxlength">Twój adres e-mail jest za długi.</div>
                                </div>

                                <input name="inputPasswordName" type="password" id="inputPassword" class="form-control" placeholder="Hasło" required="" ng-model="user.Password" ng-minlength="8" ng-focus="registerForm.inputPasswordName.$setUntouched()" ng-pattern="/^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&*])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8,}$/"/>
                                <div class="errorMessage" ng-messages="registerForm.inputPasswordName.$error" ng-if="registerForm.inputPasswordName.$touched">
                                    <div ng-message="required">Hasło jest wymagane.</div>
                                    <div ng-message="pattern">Hasło musi zawierać znaki specjalne, cyfry oraz duże i małe litery.</div>
                                    <div ng-message="minlength">Twoje hasło jest za krótkie.</div>
                                </div>

                                <!--SAME PASSWORD-->
                                <input name="inputPasswordRepeatName" type="password" id="inputPasswordRepeat" class="form-control" placeholder="Powtórz hasło" required="" ng-model="passwordRepeat" minlength="8" ng-focus="registerForm.inputPasswordRepeatName.$setUntouched()" ng-pattern="{{user.Password}}"/>
                                <div class="errorMessage" ng-messages="registerForm.inputPasswordRepeatName.$error" ng-if="registerForm.inputPasswordRepeatName.$touched">
                                    <div ng-message="required">Powtórka hasła jest wymagana.</div>
                                    <div ng-message="minlength">Twoje powtórzone hasło jest za krótkie.</div>
                                </div>

                        <br />
                        <b>
                        <span style="color:red;">{{errorRegisterMessage}}</span>
                        <span style="color:green">{{successRegisterMessage}}</span>
                        </b>
                            <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="registerForm.$invalid" ng-blur="errorLoginMessage=''">Zarejestruj się</button>

                               <!-- <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="checkRegister()" ng-blur="errorLoginMessage=''">Zarejestruj się</button>-->
                                <a ui-sref="app.login" class="btn btn-link btn-block">Logowanie</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>