﻿.headerIcons{
    padding: 10.5px;
    float:left;
    color:#bdccdb;
    
}
.headerIcons:hover{
    /*background-color:#EEE;*/
    background-color:#EEE;
}
.headerIcons.active{
    /*background-color:#EEE;*/
    color:#EEE;
        background-color: dodgerblue;
        filter:drop-shadow(0px 0px 5px #EEE);
        
    
}


@media(min-width:768px) {
    .sidebar {
        margin-top: 1px;
    }
    
}


.navbar-header{
        background-color:#197ce6;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.32s;
        /*filter: drop-shadow(0px 0px 2px black);*/
    }
.navbar-default .navbar-toggle .icon-bar{
    background-color:black;
}
.navbar-default .navbar-toggle{
    background-color:#EEE;
}
.navbar-default .navbar-toggle.hover{
    background-color:white;
    
}
.navbar-default .navbar-toggle.active{
    background-color:lawngreen;
    
}

 .fa-plus {
     color:limegreen;
 }
 .fa-pencil {
     color:orange;
 }
.fa-times {
     color:red;
 }
.supervisor {
    /*background-color:#EEE;*/
    color:silver;
}
.supervisor:hover {
    /*background-color:#EEE;*/
    color:cadetblue;
}
.supervisor.active {
    /*background-color:#EEE;*/
    color:mediumturquoise ;
    filter:drop-shadow(0px 0px 5px #EEE);
    background-color: steelblue;
}

.main.ng-enter {
    /* transition on enter for .5s */
    transition: .5s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition on main view */
.main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}
.main.ng-enter {
    /* transition on enter for .5s */
    transition: 2s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition on main view */
.main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}
.smoothTransform{
    margin-top: 9999px;
    position: absolute;
    opacity: 0;
    visibility: collapse !important;
 
 
}

.error-input{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-color: #A94442;
}
.error-input:focus{
  color: #a94442;
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

/*FORMS*/
.errorMessage{
	color:red;
}

#inputSection {
  color: rgb(153, 153, 153) ;
}
#select-item:first-child {
    display: none;
}
option {
  color: black;
}

@media(min-width:768px) {
    
    .animate-if { position: relative;}

    .animate-if.ng-enter, .animate-if.ng-leave { transition: all cubic-bezier(0.250, 0.450, 0.550, 0.750) 0.32s;  }

    .animate-if.ng-enter,
    .animate-if.ng-leave.ng-leave-active { left: -25%; }

    .animate-if.ng-leave,
    .animate-if.ng-enter.ng-enter-active { left: 0px;  }
}


.sidebarMarginRemove {
    margin-left: 0px !important;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.32s;
}
.sidebarMargin {
    margin-left: unset;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.32s;
}

.animContent {
    
    animation: slideInFromUp 2s ease-in-out 0s 1 ;
}
@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}
.showContent {
    margin-left: 155px !important;
    color: red;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.32s;
}
.hideContent {
    margin-left: 0px !important;
    color: green;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.32s;
}


/*.sidebarMarginRemove {
    margin-left: 0px !important;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.32s;
}
.sidebarMargin {
    margin-left: unset;
    
}*/
/* Styles go here */
@keyframes slideInFromUp {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideInFromLeft {
    0% {
        margin-left:unset;
    }
    100% {
        margin-left:  0px !important;
    }
}

@keyframes slideInFromLeftContentSidebar {
    0% {
        left: -25%;
    }
    100% {
        left: 0px;
    }
}
.navbar-header{  
    /* This section calls the slideInFromLeft animation we defined above */
}
.showAll {
    
}
 
.animateContent { }

.animateContent.ng-enter{ transition: opacity 0.44s linear 0s;  }

.animateContent.ng-enter,
.animateContent.ng-leave.ng-leave-active { opacity:0 }

.animateContent.ng-leave,
.animateContent.ng-enter.ng-enter-active {opacity: 1;  }


.slide {
   
    left: -100px;
   
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}





/* start 'enter' transition on main view */
#main.ng-enter {
    /* transition on enter for .5s */
    transition: .5s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition on main view */
#main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}


.animIt {
    animation: fadein 0.32s ease-out 0s 1 ;
}
@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}
.hideForWhile {
    visibility: collapse;
}

.sortorder:after {
    content: '\25bc';   
}
.sortorder.reverse:after {
    content: '\25b2';   
}