<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav in" id="side-menu">

            <li ui-sref-active="active">
                <a ui-sref="app.dashboard.accountOptions"><i class="fa  fa-gears fa-fw"></i> Konto użytkownika<span></span></a>
            </li>
            

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

