<div  >
        <div id="wrapper" ng-model="view.displayHeader">

            <header ng-if="view.displayHeader==1" class="animate-if"></header>
            <header-Supervisor ng-if="view.displayHeader==2" class="animate-if"></header-Supervisor>

            <div id="page-wrapper" ng-class="menu  ? 'sidebarMargin' : 'sidebarMarginRemove'">
                <div id="animView" class="animateContent"  >
                    <div ng-hide="loadedPage" style="position:absolute; left:50%;top:30%"   >
                        <img src="wwwroot/images/loading.gif" alt="Loading..." style="width:56px;height:56px;" />
                    </div>
                    <div ng-show="loadedPage" class="animate-show-hide">
                        <div ui-view="Test" ></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
