﻿<!doctype html>

<html >
<head>
    <meta charset="utf-8">
    <title></title>

    @* STYLES *@
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/wwwroot/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/bower_components/metisMenu/dist/metisMenu.min.css">
    <link rel="stylesheet" href="~/wwwroot/bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="~/wwwroot/bower_components/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/wwwroot/styles/sb-admin-2.css">
    <link rel="stylesheet" href="~/wwwroot/styles/timeline.css">
    <link rel="stylesheet" href="~/wwwroot/styles/angular-moment-picker.css">
    <link rel="stylesheet" href="~/wwwroot/styles/anim-in-out.css">
    <link rel="stylesheet" href="~/wwwroot/styles/main.css">
    <link rel="stylesheet" href="~/wwwroot/styles/styles.css">

    @* SCRIPTS *@

    <script src="~/wwwroot/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/wwwroot/bower_components/json3/lib/json3.min.js"></script>
    <script src="~/wwwroot/bower_components/angular/angular.js"></script>
    <script src="~/wwwroot/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/bower_components/angular-bootstrap/ui-bootstrap.js"></script>



    <script src="~/wwwroot/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/wwwroot/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/wwwroot/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/wwwroot/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="~/wwwroot/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="~/wwwroot/bower_components/auth-service/auth-service.js"></script>
    <script src="~/wwwroot/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="~/wwwroot/bower_components/angular-messages/angular-messages.js"></script>
    <script src="~/wwwroot/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/wwwroot/bower_components/Chart.js/Chart.js"></script>
    <script src="~/wwwroot/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="~/wwwroot/bower_components/moment/moment.js"></script>
    <script src="~/wwwroot/bower_components/moment/locale/pl.js"></script>
    <script src="~/wwwroot/bower_components/angular-moment-picker/angular-moment-picker.js"></script>
    
    @* MAPS SCRIPTS *@
    @*<script src="~/wwwroot/bower_components/google-map/mapsgoogle.js"></script>*@
    <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyCMSU8XHqIO1LXlAkH8lRz6-E-o9Fg2we0"></script>
    <script src="~/wwwroot/bower_components/angular-map/ngmap.js"></script>
    <script src="~/wwwroot/bower_components/angular-autocomplete/ngAutocomplete.js"></script>


    @* APP SCRIPTS *@
    <script src="~/wwwroot/scripts/app.js"></script>
    <script src="~/wwwroot/scripts/routing.js"></script>
    <script src="~/wwwroot/scripts/appStart.js"></script>
    <script src="~/wwwroot/js/sb-admin-2.js"></script>

</head>

<body ng-app="sbAdminApp">
    <div id="main" ui-view ng-controller="AppController" class="animateContent " >
        <div  class="animateContent "  >
            <div ></div>
        </div>

    </div>

</body>
</html>