
<div class="container-fluid anim-fade" ng-controller="InfoPosters" >
    <div class="row">
        <div class="col-lg-12" >
            
            <h1 class="page-header">Informacje o ogłoszeniach</h1>
            <stats number="{{systemPosters}}" comments="Ogłoszeń w systemie" colour="info" type="globe" ></stats>
            <stats  number="{{sectionPosters}}" comments="Ogłoszeń w Twoim oddziale" colour="info" type="building-o" ></stats>
            <stats  number="{{userPosters}}" comments="Twoich ogłoszeń" colour="yellow" type="user"></stats>
        </div>
    </div>
</div>