﻿<div class="anim-fade container-fluid ">
    <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dodawanie ogłoszenia</h1>
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row " ng-controller="AddPoster as vm" >
    <div class="col-lg-12 " ng-if="!posterAdded">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dodaj ogłoszenie
            </div>
            <div class="panel-body " >
                <div class="row">
                    <div class="col-lg-6">
                        <form  name="addPosterForm" role="form" ng-submit="vm.addPoster(poster)">
                            <div class="form-group">
                                <label>Skąd:</label>
                                <div ng-if="!vm.poster.Direction">
                                    
                                    <select id="inputSection" name="selectSection" ng-model="vm.poster.From" ng-options="section as section.CityName for section in sections" class="form-control" ng-style="{'color': (vm.poster.From) ? 'black' : ''}" required  ng-model-options="{updateOn : 'change blur',debounce: 200}" >
                                        <option value="" disabled selected hidden>Wybierz oddział</option>
                                        
                                    </select>
                                </div>
                                <div ng-if="vm.poster.Direction">
                                    <input type="text" class="form-control" ng-autocomplete ng-model="vm.poster.To" placeholder="Adres" ng-style="" required ng-model-options="{updateOn : 'change blur',debounce: 200}"/>
                                </div>
                                <div class="form-group " style="text-align: center"><span class="fa fa-retweet fa-lg " ng-click="vm.poster.Direction=!vm.poster.Direction; vm.poster.From=null; vm.poster.To=null;"></span>
                                </div>
                                <label>Dokąd:</label>
                                <div ng-if="vm.poster.Direction">
                                    <select id="inputSection" name="selectSection" ng-model="vm.poster.From" ng-options="section as section.CityName for section in sections" class="form-control" ng-style="{'color': (vm.poster.From) ? 'black' : ''}" required ng-model-options="{updateOn : 'change blur',debounce: 200}">
                                        <option value="" disabled selected hidden>Wybierz oddział</option>
                                    </select>
                                </div>
                                <div ng-if="!vm.poster.Direction">
                                    <input type="text" class="form-control" ng-autocomplete ng-model="vm.poster.To" placeholder="Adres" ng-style="" required  ng-model-options="{updateOn : 'change blur',debounce: 200}"/>
                                </div>


                                <label >
                                    Kiedy?
                                </label>
                                <input class="form-control"
                                       ng-model="vm.poster.TransportDate"
                                       ng-model-options="{ updateOn: 'blur' }"
                                       placeholder="Data przejazdu"
                                       moment-picker="input"
                                       locale="pl"
                                       format="LLL"
                                       min-view="year"
                                       start-view="month"
                                       autoclose="true"
                                       today="true"
                                       min-date="vm.mindate"
                                       max-date="vm.maxdate"
                                       readonly style="background-color: unset;" required
                                       >
                                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->


                                <label>Ilość miejsc</label>
                                <select class="form-control" ng-model="vm.poster.TransportMaxSize" required>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success" ng-disabled="addPosterForm.$invalid" >Dodaj</button>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <!--<input type="text" class="form-control" ng-autocomplete ng-model="origin" ng-init="origin='Olsztyn'" ng-model-options="{updateOn : 'change blur'}" />
                        <input type="text" class="form-control" ng-autocomplete  ng-model="destination" ng-init="destination='Kętrzyn'" ng-model-options="{updateOn : 'change blur'}"/>-->
                        <div ng-if="loadedPage">
                            <ng-map  id="my-map"  zoom-to-include-markers="true" on-click="showMarkerLatlng()"  >
                                <directions 
                                            ng-if="vm.poster.From.Address && vm.poster.To"
                                    draggable="false"
                                    travel-mode="DRIVING"
                                    waypoints="{{wayPoints}}"
                                    origin="{{ !vm.poster.Direction ? vm.poster.From.Address : vm.poster.To}}"
                                    destination="{{ !vm.poster.Direction ? vm.poster.To : vm.poster.From.Address}}"
                                    
                                    >
                                </directions>
                                <directions 
                                    ng-if="!vm.poster.From.Address || !vm.poster.To"
                                    draggable="false"
                                    travel-mode="DRIVING"
                                    center="{{userSectionDetails.Address}}"

                                >
                                </directions>
                            </ng-map> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="col-lg-12" ng-if="posterAdded==1">
        <div class="panel panel-green">
            <div class="panel-heading">
                Informacja
            </div>
            <div class="panel-body ">
                Ogłoszenie zostało dodane!
            </div>
            <div class="panel-footer" style="text-align: right;">
                <button class="btn btn-success" ng-click="vm.returnToAddPoster()">Powrót</button>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-lg-12" ng-if="posterAdded==2">
        <div class="panel panel-red">
            <div class="panel-heading">
                Błąd
            </div>
            <div class="panel-body ">
                Niestety nie mogliśmy dodać ogłoszenia.
            </div>
            <div class="panel-footer" style="text-align: right;">
                <button class="btn btn-danger" ng-click="vm.returnToAddPoster()">Powrót</button>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
</div>