<div ng-controller="ListPosters">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lista ogłoszeń</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row ">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                    Filtry
                    <button type="button" class="close" ng-click="showFilts=!showFilts">
                        <span class="fa fa-chevron-down fa-lg" ng-if="!showFilts"></span>
                        <span class="fa fa-chevron-up fa-lg" ng-if="showFilts"></span>
                    </button>
                </div>
                <div class="panel-body panel-collapse collapse" uib-collapse="!showFilts">
                    <input type="text" class="form-control" placeholder="Imie autora" nmaxlength="50" ng-model="search.Person.FirstName" />
                    <input type="text" class="form-control" placeholder="Nazwisko autora" nmaxlength="50" ng-model="search.Person.LastName" />
                    <input type="text" class="form-control" placeholder="Nazwa oddziału" nmaxlength="50" ng-model="search.Section.CityName" />
                    <input type="text" class="form-control" placeholder="Adres" nmaxlength="50" ng-model="search.To" />
                    <center>
                        <label>Do oddziału:<input type="radio" name="direction" data-ng-value="true" ng-model="search.Direction"></label>
                        <label>Z oddziału:<input type="radio" name="direction" data-ng-value="false" ng-model="search.Direction"></label>
                        <br />
                        <button type="button" class="btn btn-info" ng-click="search=undefined">Wyczyść filtry</button>
                    </center>




                    <!--ng-options="poster.Person as poster.Person.FirstName + ' '+ poster.Person.LastName for poster in posters | unique :'Person.FirstName' "-->
                    <!--<input type="text" id="autorName" class="form-control formInline" placeholder="Autor" nmaxlength="50" ng-model="filterUserame"/>
                    <label for="dataPoster" class="sr-only">Data przejazdu</label>
                    <input type="text" id="dataPoster" class="form-control formInline" placeholder="Data przejazdu" nmaxlength="50"/>
                    <label for="fromPoster" class="sr-only">Od</label>
                    <input type="text" id="fromPoster" class="form-control formInline" placeholder="Od" nmaxlength="50" ng-model="filterFrom"/>
                    <label for="toPoster" class="sr-only">Do</label>
                    <input type="text" id="toPoster" class="form-control formInline" placeholder="Do" nmaxlength="50" ng-model="filterTo"/>-->
                </div>

            </div>
            <!-- /.col-lg-4 -->
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                    Sortowanie
                    <button type="button" class="close" ng-click="showSorting=!showSorting">
                        <span class="fa fa-chevron-down fa-lg" ng-if="!showSorting"></span>
                        <span class="fa fa-chevron-up fa-lg" ng-if="showSorting"></span>
                    </button>

                </div>

                <div class="panel-body panel-collapse collapse" uib-collapse="!showSorting">
                    <center>
                        <button class="btn btn-primary" ng-click="sortBy('Direction')">
                            Po kierunku
                            <span class="sortorder" ng-show="sortName === 'Direction'" ng-class="{reverse: reverse}"></span>
                        </button>
                        <button class="btn btn-primary" ng-click="sortBy('TransportDate')">
                            Po dacie
                            <span class="sortorder" ng-show="sortName === 'TransportDate'" ng-class="{reverse: reverse}"></span>
                        </button>
                        <button class="btn btn-primary" ng-click="sortBy('Person')">
                            Po autorze
                            <span class="sortorder" ng-show="sortName === 'Person'" ng-class="{reverse: reverse}"></span>
                        </button>
                    </center>
                </div>

            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
    <div class="row">




        <!--<label>Phone only <input ng-model="search.phone"></label><br>-->
        <!--<button ng-click="sortBy('TransportDate')">Po autorze</button>-->
    </div>
    <div class="row" ng-hide="selectedPoster">
        <div ng-repeat="p in posters | filter:search:false">
            <div class="col-md-12" ng-show="p.TransportCurrSize!=p.TransportMaxSize || (isUserInPoster(p.Group,userId) || userId==p.Person.Id)" ng-hide="!isDateMoreThan24H(p.TransportDate) && ( !(userId==p.Person.Id) && !(isUserInPoster(p.Group,userId)))">
                <!--<div class="panel panel-info" ng-class="userId==p.Person.Id ? 'panel-yellow' : '' ">-->
                    <div class="panel panel-info" ng-class="{'panel-yellow':userId==p.Person.Id, 'panel-green':isUserInPoster(p.Group,userId),'panel-red':!isDateMoreThan24H(p.TransportDate)}">
                    <div class="panel-heading" style="font-size: 20px; line-height: 44px;">
                        <span ng-if="!p.Direction">
                            <b>Oddział {{p.Section.CityName}} </b>
                            <p class="fa fa-arrow-right fa-lg"></p> {{p.To}}
                        </span>
                        <span ng-if="p.Direction">
                            {{p.To}}
                            <p class="fa fa-arrow-right fa-lg"></p> <b>Oddział {{p.Section.CityName}}</b>
                        </span>

                        <button type="button" class="close" ng-click="showDetails(p)">
                            <span class="fa  fa-info pull-right"></span>
                        </button>
                    </div>
                    <!--<div class="panel-body">
                        <div ng-if="loadedPage">
                            <ng-map id="my-map" zoom-to-include-markers="true">
                                <directions draggable="false"
                                            travel-mode="DRIVING"
                                            origin="{{ !p.Direction ? p.Section.Address : p.To}}"
                                            destination="{{ !p.Direction ? p.To : p.Section.Address}}">
                                </directions>
                            </ng-map>
                        </div>
                    </div>-->
                    <div class="panel-footer">
                        <span><span class="glyphicon  glyphicon-user "></span> {{p.Person.Id}}:{{p.Person.FirstName}} {{p.Person.LastName}}</span>
                        <span class="pull-right"><b>{{p.TransportDate}}</b><span class="fa fa-calendar pull-right"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row" ng-if="selectedPoster">
                <div class="col-md-12">
                    <div class="panel panel-info" ng-class="{'panel-yellow':userId==selectedPoster.Person.Id, 'panel-green':isUserInPoster(selectedPoster.Group,userId),'panel-red':!isDateMoreThan24H(selectedPoster.TransportDate)}">
                        <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                            <span ng-if="!selectedPoster.Direction"><b>Oddział {{selectedPoster.Section.CityName}}  </b><p class="fa fa-arrow-right fa-lg"></p> {{selectedPoster.To}}</span>
                            <span ng-if="selectedPoster.Direction">{{selectedPoster.To}}  <p class="fa fa-arrow-right fa-lg"></p> <b>Oddział {{selectedPoster.Section.CityName}}</b></span>
                            <button type="button" class="close" data-toggle="modal" data-target="#posterDeleteModal">
                                <span class="fa fa-times pull-right" ng-if="userId==selectedPoster.Person.Id"  ng-hide="!isDateMoreThan24H(selectedPoster.TransportDate)"></span>
                            </button>
                            <button type="button" class="close" ng-click="removeDetails()">
                                <span class="fa  fa-reply   pull-right"></span>
                            </button>
                            <br />
                            <div ng-repeat="i in getNumber(selectedPoster.TransportCurrSize) track by $index" style="display:inline-block; color:gray">
                                <div class="fa fa-child"></div>
                            </div>
                            <div ng-repeat="i in getNumber(selectedPoster.TransportMaxSize-selectedPoster.TransportCurrSize) track by $index" style="display:inline-block">
                                <div class="fa fa-child"></div>
                            </div>
                            <button type="button" class="btn btn-info pull-right" ng-click="joinPoster(selectedPoster)" ng-hide="userId==selectedPoster.Person.Id || isUserInPoster(selectedPoster.Group,userId) || !isDateMoreThan24H(selectedPoster.TransportDate) ">
                                Dołącz
                            </button>
                            <button type="button" class="btn btn-info pull-right" ng-click="exitFromPoster(selectedPoster)" ng-show="isUserInPoster(selectedPoster.Group,userId) && isDateMoreThan24H(selectedPoster.TransportDate)" >
                                Wypisz się
                            </button>
                            <br />
                            <span ng-repeat="user in selectedPoster.Group" style="font-size:14px;">
                                {{user.Person.FirstName}} {{user.Person.LastName}}{{$last ? '' : ', '}}
                            </span>
                            </div>
                        <div class="panel-body">
                            <div ng-if="loadedPage">
                                <ng-map zoom-to-include-markers="true">
                                    <directions draggable="false"
                                                travel-mode="DRIVING"
                                                origin="{{ !selectedPoster.Direction ? selectedPoster.Section.Address : selectedPoster.To}}"
                                                destination="{{ !selectedPoster.Direction ? selectedPoster.To : selectedPoster.Section.Address}}">
                                    </directions>
                                </ng-map>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span><span class="glyphicon  glyphicon-user "></span>{{selectedPoster.Person.Id}}:{{selectedPoster.Person.FirstName}} {{selectedPoster.Person.LastName}}</span>
                            <span class="pull-right">{{selectedPoster.TransportDate}}<span class="fa fa-calendar pull-right"></span></span>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal fade" id="posterDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Usuwanie ogłoszenia</h4>
                    </div>
                    <div class="modal-body">
                        Czy na pewno?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-warning" ng-click="removePoster(selectedPoster)" data-dismiss="modal">Usuń ogłoszenie</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
